#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav-bar {
  text-align: left;
  align-items: center;
  display: flex;
  background-color: lightgray;
}

.nav-item {
  margin: 5px;
  padding: 5px;
}
